@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap);
@font-face {
    font-family: myFirstFont;
    src: url(/static/media/Type%20Juice%20-%20Unison%20Pro%20Bold.51ad4845df6ad02b161c.otf)
}

@font-face {
    font-family: myFirstFont1;
    src: url(/static/media/Type%20Juice%20-%20Unison%20Pro%20Light.01767c89de28471bbe5e.otf)
}

* {
    box-sizing: border-box;
    font-family: myFirstFont;
    margin: 0;
    padding: 0
}

.App {
    background: url(/static/media/background.f88bd9e604ac75914efe.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 105vh;
    min-width: 100%;
    position: relative
}

.App button,
.sidebar .nav-list li a {
    cursor: pointer
}

.gray-bg {
    background: #00061c
}

.text-center {
    text-align: center
}

.p-0 {
    padding: 0 !important
}

.lotte {
    width: 42% !important
}

.layer1 {
    align-items: center;
    background-color: rgba(225, 165, 0, .15);
    border: 12px solid #ffce00;
    border-radius: 7vmin;
    box-shadow: 0 0 20px 6px #ffce00, inset 0 0 20px 6px #ffce00;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    height: 75vmin;
    justify-content: space-between;
    left: 50%;
    padding: 3% 0;
    position: absolute;
    text-align: center;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 26vmax
}

.layer1 .flip-more {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#fbff29, #f92d00);
    -webkit-background-clip: text;
    border: none;
    font-size: 2em;
    padding: 13px 32px;
    position: relative;
    text-transform: uppercase
}

.layer1 .flip-more div {
    background-color: #433e49;
    border-radius: 5px;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1
}

.layer1 .coin-img {
    position: relative;
    text-align: center
}

.layer1 .coin-side {
    color: #000;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.layer1 h1 {
    text-align: center
}

.layer1 .side-icon {
    display: none
}

@media screen and (max-height:768px),
screen and (max-width:1366) {
    .layer1 {
        font-size: 9px
    }
}

@media screen and (max-height:600px),
screen and (max-width:1024px) {
    .layer1 {
        font-size: 8px
    }
    .lotte {
        height: auto;
        width: 47%
    }
}

@media screen and (max-height:500px),
screen and (max-width:920px) {
    .layer1 {
        font-size: 6px;
        padding: 20px;
        width: 32vmax
    }
    .lotte {
        width: 36%
    }
    .layer1 .flip-more {
        padding: 13px 15px
    }
}

@media screen and (max-width:576px) {
    .layer1 {
        border-width: 9px !important;
        font-size: 8px;
        height: 70vmax;
        top: 56%;
        width: 50vmax
    }
    .layer1 .side-icon {
        background: #3f3946;
        border: none;
        display: flex !important;
        height: 25px;
        margin-left: auto;
        margin-right: 0;
        width: 80px !important
    }
    .layer1 .side-icon .icon-btn:first-child img,
    .layer1 .side-icon .icon-btn:nth-child(2) img,
    .layer1 .side-icon .icon-btn:nth-child(3) img {
        height: auto;
        width: 15px
    }
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 32px
}

.logo img {
    height: auto;
    width: 100px
}

#header .side-bar {
    align-items: baseline;
    display: flex;
    justify-content: center
}

#header .side-bar .side-connect-btn {
    background-image: linear-gradient(#10141e 40%, #134545);
    border: 2px solid #fff;
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

#header .side-bar .side-connect-btn button {
    background-color: initial;
    border: none;
    color: #fff;
    font-family: myFirstFont1;
    font-size: 11px;
    font-weight: lighter;
    line-height: 13.27px;
    padding: 17px 20px;
    width: 100%
}

.connect-text,
.toggle-btn {
    display: none
}

@media (max-width:576px) {
    .toggle-btn {
        display: block
    }
    .side-bar .side-icon {
        display: none !important
    }
    #header {
        height: 100px
    }
    .connect-text {
        display: inline-block
    }
    .connect-text-lg {
        display: none
    }
    #header {
        align-items: center;
        padding: 17px 32px
    }
    .logo {
        left: 50%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 2%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .logo img {
        width: 70px !important
    }
    #header .side-bar .side-connect-btn button {
        font-size: 9px;
        padding: 5px 10px
    }
}

@media screen and (max-height:500px),
screen and (max-width:920px) {
    #header .side-bar .side-connect-btn button {
        padding: 6px 11px
    }
    .logo img {
        width: 75px
    }
}

@media screen and (max-height:600px),
screen and (max-width:1024px) {
    .logo img {
        width: 85px
    }
}

.pop-up {
    background-color: #1a2949;
    border-radius: 20px;
    color: #fff;
    cursor: default;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    left: 5%;
    line-height: 1.2;
    padding: 10px 20px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: 45px;
    width: 210px
}

.pop-up,
.pop-up p {
    font-family: Inter, sans-serif;
    font-weight: 400
}

.pop-up .popup-head {
    font-family: Inter, sans-serif;
    font-weight: 800;
    text-align: center
}

.pop-up p a {
    color: #fff;
    font-family: Inter, sans-serif
}

.pop-up .win {
    color: #2bd483
}

.pop-up .lose,
.pop-up .win {
    font-family: Inter, sans-serif;
    font-weight: 700
}

.pop-up .lose {
    color: #d32c2c
}

.pop-up .luck {
    color: #00d1d1;
    font-family: Inter, sans-serif;
    font-weight: 700
}

@media (max-width:576px) {
    .pop-up {
        font-size: 8px !important;
        height: 33vmax;
        left: -70%;
        padding: 10px;
        top: 32px;
        width: 24vmax !important;
        z-index: 1
    }
}

.layer1 .point span {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#fbff29, #f92d00);
    -webkit-background-clip: text;
    font-size: 3.5em
}

.layer1 .flip-btn-div,
.layer1 .toss-btn {
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    width: 100%
}

.layer1 .toss-btn .btn-background {
    border-radius: 30%;
    height: 100%;
    left: 50%;
    opacity: .8;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 95%;
    z-index: -2
}

.layer1 .flip-btn,
.layer1 .toss-btn button {
    -webkit-text-fill-color: transparent;
    background-color: #413c48;
    background: -webkit-linear-gradient(#fbff29, #f92d00);
    -webkit-background-clip: text;
    border: none;
    border-radius: 9px;
    font-size: 1.7em;
    padding: 2% 5%;
    position: relative;
    text-transform: uppercase
}

.layer1 .flip-btn {
    font-size: 3em;
    padding: 1% 15% !important
}

.layer1 .flip-btn div,
.layer1 .toss-btn button div {
    background-color: #433e49;
    border-radius: 5px;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1
}

.layer1 .flip-btn:focus,
.layer1 .toss-btn button:focus,
.selected-face {
    border: 3px solid #f88502 !important;
    box-shadow: 0 0 10px #ffce00;
    outline: none
}

.layer1 p {
    font-size: 1em;
    text-transform: uppercase
}

.layer1 .sol {
    align-items: center;
    display: flex;
    justify-content: center
}

.layer1 .sol button i {
    color: #413c48;
    font-size: 22px
}

.layer1 .sol button {
    align-items: center;
    border: 3px solid #413c48;
    border-radius: 50%;
    display: flex;
    height: 25px;
    justify-content: center;
    outline: none;
    width: 25px
}

.layer1 .sol span {
    font-size: 2.2em;
    padding: 0 10px;
    text-transform: uppercase
}

.layer1 .min-max button {
    background-color: #413c48;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: .82em;
    letter-spacing: .5px;
    padding: 5px 15px;
    text-transform: uppercase
}

.layer1 p {
    margin-bottom: 1.5%
}

.shadow-div {
    border: 1px solid #000;
    box-shadow: inset 0 3px 5px -3px #ddd;
    height: 90%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 95% !important
}

.btn-shadow {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#fbff29, #f92d00);
    -webkit-background-clip: text;
    border: none;
    font-size: 3.2em;
    padding: 5px 20px;
    position: relative;
    text-transform: uppercase
}

.btn-shadow:after {
    background: #444;
    border-radius: 9px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.btn-shadow:before {
    background-color: #3cfa08;
    border-radius: 50%;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    top: -1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%
}

.effect7 {
    box-shadow: 0 1px 4px rgba(255, 206, 0, .9), inset 0 0 40px rgba(255, 206, 0, .6);
    position: relative
}

.effect7:after,
.effect7:before {
    border-radius: 100px/10px;
    bottom: 0;
    box-shadow: 0 0 20px rgba(255, 206, 0, .8);
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: -1
}

.effect7:after {
    left: auto;
    right: 10px;
    -webkit-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg)
}

@media screen and (max-height:600px),
screen and (max-width:1024px) {
    .layer1 .toss-btn button {
        height: 100%;
        width: 39%
    }
    .layer1 .toss-btn {
        height: 33px;
        margin: 0 0 7px;
        width: 100%
    }
    .lotte {
        width: 42%
    }
}

.btn {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    position: relative;
    text-transform: uppercase
}

.btn:after,
.btn:before {
    background: #353b48;
    content: "";
    height: 5px;
    position: absolute;
    transition: -webkit-transform .6s;
    transition: transform .6s;
    transition: transform .6s, -webkit-transform .6s;
    width: 0
}

.btn:before {
    left: 10%;
    top: -4px
}

.btn:after {
    bottom: -4px;
    right: 10%
}

.btn:hover {
    border: 3px solid #f88502 !important;
    box-shadow: 0 0 35px #ffce00;
    outline: none
}

.btn:hover:before {
    -webkit-transform: translateX(400%);
    transform: translateX(400%);
    width: 15%
}

.btn:hover:after {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
    width: 15%
}

.side-icon {
    align-items: center;
    border: 2px solid#ffffff;
    border-radius: 20px;
    display: flex;
    height: 35px;
    justify-content: space-around;
    margin-right: 30px;
    padding: 2px 10px;
    position: relative;
    width: 120px !important
}

.side-icon .icon3 {
    cursor: pointer
}

.side-icon .icon-btn {
    background-color: initial;
    border: none;
    line-height: 0%;
    width: 100%
}

.layer1 h1 {
    font-size: 2em;
    letter-spacing: 2px
}

.layer1 div {
    width: 100%
}

.layer1 .flipping-hand {
    margin-top: -27px
}

.layer1 .flipping-hand img {
    display: block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-4%, -18%);
    transform: translate(-4%, -18%)
}

.layer1 div h4 {
    font-family: myFirstFont1;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: center
}

.layer1 div .progress-div1 {
    background-color: #28242f;
    border: 8px solid #3a333f;
    border-radius: 9px;
    display: block;
    height: 26px;
    margin: auto;
    width: 80%
}

.layer1 div .progress-div2 {
    background-color: #64f000;
    border-radius: 3px;
    height: 100%;
    text-align: right;
    width: 50%
}

.justify-space-around {
    justify-content: space-around
}

.layer1 .won-msg span {
    background: -webkit-linear-gradient(#0f0, #009100);
    -webkit-background-clip: text;
    font-size: 1em
}

.layer1 .msg,
.layer1 .won-msg span {
    -webkit-text-fill-color: transparent
}

.layer1 .msg {
    background: -webkit-linear-gradient(red, #000);
    -webkit-background-clip: text;
    font-size: 2.73em
}

.sidebar {
    background: #18222c;
    border: 1px solid #01baf2;
    border-radius: 60px;
    box-sizing: border-box;
    height: 60%;
    left: 48px;
    padding: 6px 9px;
    position: absolute;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .5s ease;
    width: 60px;
    z-index: 99
}

.sidebar.open {
    width: 250px
}

.sidebar .nav-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between
}

.hr-div {
    background-color: #01baf2;
    height: 1.4px;
    margin-left: -9px;
    width: 59px
}

.sidebar li {
    list-style: none;
    position: relative
}

.sidebar li .tooltip {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    font-size: 13px;
    left: calc(100% + 15px);
    opacity: 0;
    padding: 6px 12px;
    pointer-events: none;
    position: absolute;
    top: -20px;
    transition: 0s;
    white-space: nowrap;
    z-index: 3
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .4s ease
}

.sidebar.open li .tooltip {
    display: none
}

.sidebar input {
    background: #1d1b31;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 15px;
    height: 50px;
    outline: none;
    transition: all .5s ease;
    width: 100%;
    width: 50px
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%
}

.sidebar .bx-search {
    font-size: 22px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.sidebar .bx-search,
.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #fff
}

.sidebar .bx-search:hover {
    background: #fff;
    color: #11101d
}

.sidebar li a {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 10px 11px 10px 4px;
    text-decoration: none;
    transition: all .4s ease;
    width: 100%
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    transition: .4s;
    white-space: nowrap
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto
}

.sidebar li.profile {
    background: #1d1b31;
    bottom: -8px;
    height: 60px;
    left: 0;
    overflow: hidden;
    padding: 10px 14px;
    position: fixed;
    transition: all .5s ease;
    width: 78px
}

.sidebar.open li.profile {
    width: 250px
}

.sidebar li .profile-details {
    align-items: center;
    display: flex;
    flex-wrap: nowrap
}

.sidebar li img {
    height: 33px;
    line-height: 50px;
    margin-right: 10px;
    object-fit: cover;
    width: 33px
}

.hide-btn {
    float: right
}

@media (max-width:576px) {
    .sidebar,
    .sidebar li .tooltip {
        display: none
    }
    #sideBar.active {
        left: 10px
    }
}

@media screen and (max-height:800px),
screen and (max-width:1280px) {
    .sidebar {
        height: 52.5%
    }
}

@media screen and (max-height:600px),
screen and (max-width:1024px) {
    .sidebar {
        height: 55%;
        padding: 5px;
        width: 44px
    }
    .sidebar .nav-list {
        height: 95%
    }
    .sidebar li a {
        padding: 8px 7px
    }
    .sidebar li img {
        height: auto;
        width: 100%
    }
    .hr-div {
        height: 1.2px;
        margin-left: -6px;
        width: 43px
    }
}

@media screen and (max-height:500px),
screen and (max-width:920px) {
    .sidebar {
        height: 60%
    }
}

@media screen and (max-height:750px),
screen and (max-width:1420px) {
    .sidebar {
        height: 60%
    }
    .sidebar li img {
        height: auto;
        width: 100%
    }
}

.sidebar-mobile {
    background-color: #0f1936;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all .7s ease-in-out .4s;
    width: 100vw;
    z-index: 1
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 160px 0 0;
    padding: 0;
    position: relative;
    text-align: center
}

.sidebar-item {
    margin: 30px 0;
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px)
}

.sidebar-item:first-child,
.sidebar-item:last-child,
.sidebar-item:nth-child(2),
.sidebar-item:nth-child(3),
.sidebar-item:nth-child(4) {
    transition: all 1s ease-in-out .6s
}

.sidebar-item.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.sidebar-anchor {
    color: #fff;
    font-size: 1.6em;
    padding-bottom: 7px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase
}

.sidebar-anchor:before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all .7s ease-in-out;
    width: 0
}

.sidebar-anchor:hover:before {
    width: 100%
}

.move-to-left {
    left: 0
}

.init-position {
    left: 100vw
}

#main-app {
    transition: -webkit-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
    z-index: 2
}

.bar {
    background-color: #ef8354;
    display: block;
    height: 5px;
    margin: 10px auto;
    width: 30px
}

#button-toggle {
    cursor: pointer;
    display: none;
    flex: 1 1;
    float: right;
    transition: all .7s ease;
    width: auto
}

.show-cross {
    display: inline-block !important
}

.nav-right {
    align-items: center;
    display: flex;
    justify-content: end;
    position: fixed;
    right: 40px;
    top: 20px;
    transition: all .7s ease-in-out .4s;
    width: 100vw
}

.nav-right.visible-xs {
    z-index: 3
}

.hidden-xs {
    display: none
}

.middle {
    margin: 0 auto
}

.bar {
    transition: all .7s ease
}

.nav-right.visible-xs .active .bar {
    background-color: #fff;
    transition: all .7s ease
}

#button-toggle.active .top {
    -webkit-transform: translateY(15px) rotate(45deg);
    transform: translateY(15px) rotate(45deg)
}

#button-toggle.active .bottom {
    -webkit-transform: translateY(-15px) rotate(-45deg);
    transform: translateY(-15px) rotate(-45deg)
}

#button-toggle.active .middle {
    width: 0
}